<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangwc.ggblog.mapper.GgArticleInfoMapper">
    <resultMap id="articleMap" type="com.liangwc.ggblog.vo.ArticleVo">
        <id column="id" property="id"/>
        <result column="tile" property="tile"/>
        <result column="tag" property="tag"/>
        <result column="create_time" property="createTime"/>
        <association property="article" javaType="com.liangwc.ggblog.entity.GgArticle">
            <id column="id" property="id"/>
            <result column="content" property="content"/>
            <result column="create_time" property="createTime"/>
        </association>
    </resultMap>

    <select id="selectArticlePage" resultMap="articleMap">
        SELECT a.id,a.title,a.tag,a.vister,a.create_time,b.content FROM gg_article_info AS a,gg_article AS b WHERE a.article_id = b.id
    </select>
    <!--    <select id="selectArticlePage" resultType="com.liangwc.ggblog.entity.GgArticleInfo">&ndash;&gt;-->
    <!--            SELECT *-->
    <!--            from-->
    <!--            gg_article_info-->
    <!--    </select>-->
</mapper>
