<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangwc.ggblog.mapper.GgArticleInfoMapper">
    <resultMap id="articleMap" type="com.liangwc.ggblog.vo.ArticleVo">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="article_id" property="articleId"/>
        <result column="title" property="title"/>
        <result column="status" property="status"/>
        <result column="favor_num" property="favorNum"/>
        <result column="comment_num" property="commentNum"/>
        <result column="weigh" property="weigh"/>
        <result column="create_time" property="createTime"/>
        <result column="catagory_id" property="catagoryId"/>
        <result column="vister" property="vister"/>
        <result column="tags" property="tags"/>
        <result column="summary" property="summary"/>
        <association property="article" javaType="com.liangwc.ggblog.entity.GgArticle">
            <id column="id" property="id"/>
            <result column="content" property="content"/>
        </association>
        <association property="catagory" javaType="com.liangwc.ggblog.entity.GgCatagory">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="url" property="url"/>
        </association>
    </resultMap>

    <select id="selectArticlePage" resultMap="articleMap">
        SELECT *
        FROM gg_article_info
        ORDER BY create_time desc
    </select>

    <select id="selectArticleById" resultMap="articleMap">
        SELECT a.*,b.content
        FROM gg_article_info AS a,gg_article AS b
        WHERE a.article_id = b.id
        AND a.id = #{id}
    </select>

    <select id="selectArticleByTag" resultType="com.liangwc.ggblog.vo.ArticleVo">
        SELECT * FROM gg_article_info where tags like concat('%',#{tag},'%')
    </select>

    <select id="selectArticleByCategory" resultMap="articleMap">
        SELECT a.*,b.name FROM gg_article_info as a,gg_catagory as b where catagory_id = #{categoryId} and a.catagory_id = b.id
    </select>

    <select id="selectCategory" resultType="java.util.HashMap">
        select b.id,b.name,count(a.id) as total from gg_article_info AS a,gg_catagory AS b where a.catagory_id = b.id group by b.name,b.id
    </select>
</mapper>
